/*working on the main container*/
.cont{
    min-height: 85vh;
    background: linear-gradient(rgba(10, 10, 10, 0.768), transparent), url( "DAA.jpg") ;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.607);
    width: 60%;
    border-radius: 20px;
    color: #fff;

}
.form-header{
    text-align: center;
    padding: 4rem;
}
.btn{
    width: 100%;
    padding: 1.8rem;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-name,.form-email{
    padding: 3rem;
    text-align: center;

}
.wrapper label{
    margin: 0rem 3rem;
}
.wrapper input{
    padding: 1rem 3rem;
}